.admin{
    display: grid;
    grid-template-columns: 25% 75%;
    height: calc(100vh - 60px);
}

@media screen and (max-width: 767px) {
    .admin{
        display: flex;
        flex-direction: column;
    }
}

.admin .left{
    background-color: #dddddd;
}

.admin .left ul{
    margin: 50px;
    list-style: none;
}

.admin .left ul li{
    margin-top: 15px;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.admin .left ul li::after{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: '';
    display: inline-block;
    background-color: #000000;
    transition: width .3s ease;
}

.admin .left ul li:hover::after{
    width: 100%;
}

.products{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.products .item{
    width: 100%;
    display: flex;
}

.products .item .name,
.products .item .price,
.products .item .img,
.products .item .action
{
    flex: 0 0 25%
}
.products .item .price,
.products .item .name,
.products .item .action{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .item .price span,
.products .item .name span{
    display: inline-block;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.products .item img{
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.products .item button{
    cursor: pointer;
    padding: 5px 15px;
}